.Facet {
  width: 100%;
}

.andor {
  float: right;
  cursor: pointer;
  text-decoration: underline;
  font-size: .8em;
  text-align: bottom;
}

.FacetName {
  text-transform: uppercase;
  background-color:#94b0ff;
  color: #fff;
  padding: 0.3em;
  padding-left:20px;
  line-height: 1.5em;
}

.FacetEntry {
  text-transform: capitalize;
  padding: 3px;
  color: #757575;
  font-size: 12px;
}

.FacetEntry:nth-child(even) {
  background-color: #f2f2f2;
}
.FacetEntry:nth-child(odd) {
  background-color: #f2f2f2;
}

.FacetEntry input[type="checkbox"] {
  margin-right: 5px;
}

.FacetEntry label {
  cursor: pointer;
  display: block;
  width: 100%;
  padding-left:15px;
}
.Facet > label {
  display: block;
  margin-bottom: 0;
  cursor: pointer;
}

.Facet > input {
  display: none; /* hide the checkbox */
}

@media (max-width: 768px) {
  .FacetEntry {
    display: none;
  }
  .Facet > input:checked ~ .FacetEntry {
    display: block;
  }
}

@media (min-width: 769px) {
  .FacetEntry {
    display: block;
  }
  .Facet > input:checked ~ .FacetEntry {
    display: none;
  }
}
