.Facet {
  width: 100%;
}

.andor {
  float: right;
  cursor: pointer;
}

.FacetName {
  text-transform: uppercase;
  background-color: lightgray;
  padding: 0.3em;
}

.FacetEntry {
  text-transform: capitalize;
}

.FacetEntry:nth-child(even) {
  background-color: #f5f4f4;
}
.FacetEntry:nth-child(odd) {
  background-color: #e7e7e7;
}

.FacetEntry input[type="checkbox"] {
  margin-right: 5px;
}

.FacetEntry label {
  cursor: pointer;
  display: block;
  width: 100%;
}
