.Facet {
  width: 100%;
}

.andor {
  float: right;
  cursor: pointer;
}

.FacetName {
  text-transform: uppercase;
  background-color:#94b0ff;
  color: #fff;
  padding: 0.3em;
  padding-left:20px;
}

.FacetEntry {
  text-transform: capitalize;
  padding: 3px;
  color: #757575;
  font-size: 12px;
}

.FacetEntry:nth-child(even) {
  background-color: #f2f2f2;
}
.FacetEntry:nth-child(odd) {
  background-color: #f2f2f2;
}

.FacetEntry input[type="checkbox"] {
  margin-right: 5px;
}

.FacetEntry label {
  cursor: pointer;
  display: block;
  width: 100%;
  padding-left:15px;
}
