.Animal {
  max-width: 250px;
  max-height: 260px;
  margin-bottom: 15px;
}

.Animal a {
  text-decoration: none;  
}

.Animal a:hover {
  text-decoration: none;
}

.Animal .back {
  width: 100%;
  padding: 0 25px;
  background-color: #353535;
  color: white;
}

.Animal .back::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "more info \e080";
  margin-right: 25px;
  margin-bottom:25px;
}

.Animal .back h4 {
  margin: 50px 0px 5px 0px;
  font-size: 21px;
  line-height: 23px;
}
.title span{
color: #c3c3c3;
}
.breeds {
  list-style: none;
  font-size: 12px;
  margin: 5px 0px 25px -40px;
  color: #c3c3c3;
}

.Animal img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.Animal .animal-name {
  height: 40px;
  color: white;
  background-color:#353535;
  text-align: center;
}

.Animal .animal-name span {
  position: relative;
  top: 25%;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

/*@keyframes cardflip {
  10% { transform: rotateY(-10deg); }
  100% { transform: rotateY(180deg); }
}*/

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  /*animation-duration: 5s;
  animation-name: cardflip;
  animation-fill-mode: both;*/

  transition-delay:.25s;
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
	/*width: 320px;*/
	height: 260px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
